NODE_ENV=dev
# ------------------------ EU -----------------------
# Uncomment appropriate Jurisdiction
# JURISDICTION=eu
# DEV PLAYGROUND
DEV_OS_HOST=https://524cc4e51m.execute-api.eu-west-1.amazonaws.com/Dev/lobby/
DEV_OS_USER=
DEV_OS_PASS=
DEV_CONTENTFUL_ENV=dev
DEV_EU_CONTENTFUL_BEARER_TOKEN=
DEV_EU_CONTENTFUL_SPACE=https://api.contentful.com/spaces/nw2595tc1jdx/
# STAGING
STG_OS_HOST=
STG_OS_USER=
STG_OS_PASS=
STG_CONTENTFUL_ENV=master
STG_EU_CONTENTFUL_BEARER_TOKEN=
STG_EU_CONTENTFUL_SPACE=https://api.contentful.com/spaces/nw2595tc1jdx/
# PROD
PROD_OS_HOST=
PROD_OS_USER=
PROD_OS_PASS=
PROD_CONTENTFUL_ENV=master
PROD_EU_CONTENTFUL_BEARER_TOKEN=
PROD_EU_CONTENTFUL_SPACE=
# ------------------------ NA -----------------------
# Uncomment appropriate Jurisdiction
# JURISDICTION=na
# DEV PLAYGROUND
NA_DEV_OS_HOST=https://usgxlsqtv7.execute-api.us-east-1.amazonaws.com/Dev/lobby-us/
NA_DEV_OS_USER=
NA_DEV_OS_PASS=
NA_DEV_CONTENTFUL_ENV=dev
NA_DEV_CONTENTFUL_BEARER_TOKEN=
NA_DEV_CONTENTFUL_SPACE=https://api.contentful.com/spaces/6hs6aj69c5cq/
# STAGING
NA_STG_OS_HOST=
NA_STG_OS_USER=
NA_STG_OS_PASS=
NA_STG_CONTENTFUL_ENV=master
NA_STG_CONTENTFUL_BEARER_TOKEN=
NA_STG_CONTENTFUL_SPACE=https://api.contentful.com/spaces/6hs6aj69c5cq/
# PROD
NA_PROD_OS_HOST=
NA_PROD_OS_USER=
NA_PROD_OS_PASS=
NA_PROD_CONTENTFUL_ENV=master
NA_PROD_CONTENTFUL_BEARER_TOKEN=
NA_PROD_CONTENTFUL_SPACE=https://api.contentful.com/spaces/6hs6aj69c5cq/
